body {
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.flex-item {
  background-color: rgb(253, 253, 253);
  padding: 20px;
  margin: 20px;
  text-align: center;
}